#adminView {
    padding: 8px;
    position: relative;
}

#productTable {
    border: 2px solid rgb(31, 29, 29);
    width: 100%;
    border-collapse: collapse;
}

#warningDiv, #successDiv {

}

#successDiv, #warningDiv {

}

#warningDiv {

    color: white;
}

#successDiv {


    border: 2px solid #24702f;

}
