#forgotPassword {
    display: flex;
    flex: 1;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#forgotPasswordDiv {
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    justify-content: space-evenly;
    height: 400px;
    width: 300px;
    background-color: whitesmoke;
    opacity: 90%;
}

.formField {
    display: flex;
    flex-direction: column;
}

.formField > input {
    border-radius: 10px;
    border: 1px solid black;
    height: 30px;
    padding-left: 5px;
    font-size: 14px;
}

#errorDiv {
    background-color: #DC343B;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

#successDiv {
    background-color: #319A44;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
