#forgotPassword {
  display: flex;
  flex: 1;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#forgotPasswordDiv {
  margin: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  justify-content: space-evenly;
  height: 400px;
  width: 300px;
  background-color: whitesmoke;
  opacity: 95%;
}

.formField {
  display: flex;
  flex-direction: column;
}

.formField > input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #319a44;
  border-radius: 4px;
  font-size: 1rem;
}

#errorDiv {
  background-color: #dc343b;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

#successDiv {
  background-color: #319a44;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

#forgotPasswordDiv h2 {
  color: #2b8739;
  text-align: center;
}
