* {
    margin: 0;
}

#header {
    text-align: center;
    background-color: #319a44;
    font-family: "Agu Display", serif;
    color: white;
    font-size: 2rem;
    padding: 15px;
}

#forgotPassword {
    margin-top: 20px;
    display: flex;
}

#forgotPasswordForm {
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    justify-content: space-evenly;
    height: 400px;
}

.formField {
    display: flex;
    flex-direction: column;
}

.formField > input {
    border-radius: 10px;
    border: 1px solid black;
}