* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.item-details-container {
  display: flex;
  justify-content: center;
  align-items: top;
  padding: 20px;
  margin-top: 50px;
  gap: 20px;
}

.meal-details {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.item-name {
  font-size: 2.5rem;
  color: #2b8739;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 1rem;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: #2b8739;
  width: 70px;
  height: 30px;
}

select:hover {
  background-color: #54e810;
}

.item-details-container button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  color: white;
  outline: none;
  cursor: pointer;
  background-color: #2b8739;
  width: 200px;
}

.item-details-container button:hover {
  background-color: #54e810;
}
