* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #2b8739, #56ab2f);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 20px;
  color: #2b8739;
}

.form label {
  margin-bottom: 5px;
  color: #333;
}

.form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #2b8739;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.form button:hover {
  background-color: #54e810;
}
