* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.name-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.name-input {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin-bottom: 40px;
  color: #2b8739;
  text-align: center;
}

.form label {
  margin-bottom: 5px;
  color: #333;
}

.form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #319a44;
  border-radius: 4px;
  font-size: 1rem;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #2b8739;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.form button:hover {
  background-color: #54e810;
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 10px;
}
