.primaryButton, .secondaryButton, .dangerButton {
    height: 30px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
}

.primaryButton {
    background-color: #319A44;
    border-color: #319A44;
    color: white;
}

.primaryButton:hover {
    background-color: #3BBA52;
}

.secondaryButton {
    background-color: #0C4767;
    border-color: #0C4767;
    color: white;
}

.secondaryButton:hover {
    background-color: #156b9f;
}

.dangerButton {
    background-color: #DC343B;
    border-color: #DC343B;
    color: white;
}

.dangerButton:hover {
    background-color: #fb3d44;
}
