* {
    margin: 0;
}

#header {
    text-align: center;
    background-color: #319a44;
    font-family: "Agu Display", serif;
    color: white;
    font-size: 2rem;
    padding: 15px;
}

main {
    padding: 8px;
}

table {
    border: 2px solid rgb(31, 29, 29);
    width: 100%;
    border-collapse: collapse;
}

td {
    border-top: 2px solid rgb(31, 29, 29);
}

.productImageContainer {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
}

.tableInputContainer, .tableTextareaContainer {
    padding: 0 15px;
}

input, textarea {
    width: 100%;
    background-color: lightgray;
    color: black;
    border: 1px solid gray;
    border-radius: 10px;
}

input {
    text-align: center;
    padding: 5px 0;
}

textarea {
    padding: 5px;
}

#newProductContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 25px;
    margin: 25px auto 0;
    gap: 10px;
}

#newImageButton {
    width: 128px; 
    height: 128px;
    background-color: white;
    /* outline: 2px solid gray; */
    box-shadow: none;
}

#newProductRow {
    background-color: #d5ffdd;
}