table {
    border: 2px solid rgb(31, 29, 29);
    width: 100%;
    border-collapse: collapse;
}

td {
    border-top: 2px solid rgb(31, 29, 29);
}

.productImageContainer {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
}

.tableInputContainer {
    padding: 0 15px;
}

.tableInput {
    width: 100%;
    text-align: center;
    background-color: lightgray;
    color: black;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px 0;
}